
$pixel_width: 4px;

.is-root-container,
.wp-site-blocks {
	box-sizing: border-box;
	background: var(--wp--preset--gradient--halftone);
	max-width: var(--wp--style--global--wide-size);
	margin: 1em auto;
	padding-left: 2em;
	padding-right: 2em;
}


// Pixelated Corners by https://pixelcorners.lukeb.co.uk/
.is-root-container,
.wp-site-blocks,
.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0 * $pixel_width calc(100% - 5 * $pixel_width),
    1 * $pixel_width calc(100% - 5 * $pixel_width),
    1 * $pixel_width calc(100% - 3 * $pixel_width),
    2 * $pixel_width calc(100% - 3 * $pixel_width),
    2 * $pixel_width calc(100% - 2 * $pixel_width),
    3 * $pixel_width calc(100% - 2 * $pixel_width),
    3 * $pixel_width calc(100% - 1 * $pixel_width),
    5 * $pixel_width calc(100% - 1 * $pixel_width),
    5 * $pixel_width 100%,
    calc(100% - 5 * $pixel_width) 100%,
    calc(100% - 5 * $pixel_width) calc(100% - 1 * $pixel_width),
    calc(100% - 3 * $pixel_width) calc(100% - 1 * $pixel_width),
    calc(100% - 3 * $pixel_width) calc(100% - 2 * $pixel_width),
    calc(100% - 2 * $pixel_width) calc(100% - 2 * $pixel_width),
    calc(100% - 2 * $pixel_width) calc(100% - 3 * $pixel_width),
    calc(100% - 1 * $pixel_width) calc(100% - 3 * $pixel_width),
    calc(100% - 1 * $pixel_width) calc(100% - 5 * $pixel_width),
    100% calc(100% - 5 * $pixel_width),
    100% 5 * $pixel_width,
    calc(100% - 1 * $pixel_width) 5 * $pixel_width,
    calc(100% - 1 * $pixel_width) 3 * $pixel_width,
    calc(100% - 2 * $pixel_width) 3 * $pixel_width,
    calc(100% - 2 * $pixel_width) 2 * $pixel_width,
    calc(100% - 3 * $pixel_width) 2 * $pixel_width,
    calc(100% - 3 * $pixel_width) 1 * $pixel_width,
    calc(100% - 5 * $pixel_width) 1 * $pixel_width,
    calc(100% - 5 * $pixel_width) 0 * $pixel_width,
    5 * $pixel_width 0 * $pixel_width,
    5 * $pixel_width 1 * $pixel_width,
    3 * $pixel_width 1 * $pixel_width,
    3 * $pixel_width 2 * $pixel_width,
    2 * $pixel_width 2 * $pixel_width,
    2 * $pixel_width 3 * $pixel_width,
    1 * $pixel_width 3 * $pixel_width,
    1 * $pixel_width 5 * $pixel_width,
    0 * $pixel_width 5 * $pixel_width);
  position: relative;
}
.is-root-container,
.wp-site-blocks,
.pixel-corners {
  border: 1 * $pixel_width solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(1 * $pixel_width 5 * $pixel_width,
    2 * $pixel_width 5 * $pixel_width,
    2 * $pixel_width 3 * $pixel_width,
    3 * $pixel_width 3 * $pixel_width,
    3 * $pixel_width 2 * $pixel_width,
    5 * $pixel_width 2 * $pixel_width,
    5 * $pixel_width 1 * $pixel_width,
    calc(100% - 5 * $pixel_width) 1 * $pixel_width,
    calc(100% - 5 * $pixel_width) 2 * $pixel_width,
    calc(100% - 3 * $pixel_width) 2 * $pixel_width,
    calc(100% - 3 * $pixel_width) 3 * $pixel_width,
    calc(100% - 2 * $pixel_width) 3 * $pixel_width,
    calc(100% - 2 * $pixel_width) 5 * $pixel_width,
    calc(100% - 1 * $pixel_width) 5 * $pixel_width,
    calc(100% - 1 * $pixel_width) calc(100% - 5 * $pixel_width),
    calc(100% - 2 * $pixel_width) calc(100% - 5 * $pixel_width),
    calc(100% - 2 * $pixel_width) calc(100% - 3 * $pixel_width),
    calc(100% - 3 * $pixel_width) calc(100% - 3 * $pixel_width),
    calc(100% - 3 * $pixel_width) calc(100% - 2 * $pixel_width),
    calc(100% - 5 * $pixel_width) calc(100% - 2 * $pixel_width),
    calc(100% - 5 * $pixel_width) calc(100% - 1 * $pixel_width),
    5 * $pixel_width calc(100% - 1 * $pixel_width),
    5 * $pixel_width calc(100% - 2 * $pixel_width),
    3 * $pixel_width calc(100% - 2 * $pixel_width),
    3 * $pixel_width calc(100% - 3 * $pixel_width),
    2 * $pixel_width calc(100% - 3 * $pixel_width),
    2 * $pixel_width calc(100% - 5 * $pixel_width),
    1 * $pixel_width calc(100% - 5 * $pixel_width));
}
.is-root-container::after,
.wp-site-blocks::after,
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0 * $pixel_width calc(100% - 5 * $pixel_width),
    1 * $pixel_width calc(100% - 5 * $pixel_width),
    1 * $pixel_width calc(100% - 3 * $pixel_width),
    2 * $pixel_width calc(100% - 3 * $pixel_width),
    2 * $pixel_width calc(100% - 2 * $pixel_width),
    3 * $pixel_width calc(100% - 2 * $pixel_width),
    3 * $pixel_width calc(100% - 1 * $pixel_width),
    5 * $pixel_width calc(100% - 1 * $pixel_width),
    5 * $pixel_width 100%,
    calc(100% - 5 * $pixel_width) 100%,
    calc(100% - 5 * $pixel_width) calc(100% - 1 * $pixel_width),
    calc(100% - 3 * $pixel_width) calc(100% - 1 * $pixel_width),
    calc(100% - 3 * $pixel_width) calc(100% - 2 * $pixel_width),
    calc(100% - 2 * $pixel_width) calc(100% - 2 * $pixel_width),
    calc(100% - 2 * $pixel_width) calc(100% - 3 * $pixel_width),
    calc(100% - 1 * $pixel_width) calc(100% - 3 * $pixel_width),
    calc(100% - 1 * $pixel_width) calc(100% - 5 * $pixel_width),
    100% calc(100% - 5 * $pixel_width),
    100% 5 * $pixel_width,
    calc(100% - 1 * $pixel_width) 5 * $pixel_width,
    calc(100% - 1 * $pixel_width) 3 * $pixel_width,
    calc(100% - 2 * $pixel_width) 3 * $pixel_width,
    calc(100% - 2 * $pixel_width) 2 * $pixel_width,
    calc(100% - 3 * $pixel_width) 2 * $pixel_width,
    calc(100% - 3 * $pixel_width) 1 * $pixel_width,
    calc(100% - 5 * $pixel_width) 1 * $pixel_width,
    calc(100% - 5 * $pixel_width) 0 * $pixel_width,
    5 * $pixel_width 0 * $pixel_width,
    5 * $pixel_width 1 * $pixel_width,
    3 * $pixel_width 1 * $pixel_width,
    3 * $pixel_width 2 * $pixel_width,
    2 * $pixel_width 2 * $pixel_width,
    2 * $pixel_width 3 * $pixel_width,
    1 * $pixel_width 3 * $pixel_width,
    1 * $pixel_width 5 * $pixel_width,
    0 * $pixel_width 5 * $pixel_width,
    0 * $pixel_width 50%,
    1 * $pixel_width 50%,
    1 * $pixel_width 5 * $pixel_width,
    2 * $pixel_width 5 * $pixel_width,
    2 * $pixel_width 3 * $pixel_width,
    3 * $pixel_width 3 * $pixel_width,
    3 * $pixel_width 2 * $pixel_width,
    5 * $pixel_width 2 * $pixel_width,
    5 * $pixel_width 1 * $pixel_width,
    calc(100% - 5 * $pixel_width) 1 * $pixel_width,
    calc(100% - 5 * $pixel_width) 2 * $pixel_width,
    calc(100% - 3 * $pixel_width) 2 * $pixel_width,
    calc(100% - 3 * $pixel_width) 3 * $pixel_width,
    calc(100% - 2 * $pixel_width) 3 * $pixel_width,
    calc(100% - 2 * $pixel_width) 5 * $pixel_width,
    calc(100% - 1 * $pixel_width) 5 * $pixel_width,
    calc(100% - 1 * $pixel_width) calc(100% - 5 * $pixel_width),
    calc(100% - 2 * $pixel_width) calc(100% - 5 * $pixel_width),
    calc(100% - 2 * $pixel_width) calc(100% - 3 * $pixel_width),
    calc(100% - 3 * $pixel_width) calc(100% - 3 * $pixel_width),
    calc(100% - 3 * $pixel_width) calc(100% - 2 * $pixel_width),
    calc(100% - 5 * $pixel_width) calc(100% - 2 * $pixel_width),
    calc(100% - 5 * $pixel_width) calc(100% - 1 * $pixel_width),
    5 * $pixel_width calc(100% - 1 * $pixel_width),
    5 * $pixel_width calc(100% - 2 * $pixel_width),
    3 * $pixel_width calc(100% - 2 * $pixel_width),
    3 * $pixel_width calc(100% - 3 * $pixel_width),
    2 * $pixel_width calc(100% - 3 * $pixel_width),
    2 * $pixel_width calc(100% - 5 * $pixel_width),
    1 * $pixel_width calc(100% - 5 * $pixel_width),
    1 * $pixel_width 50%,
    0 * $pixel_width 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--wp--preset--color--black);
  display: block;
  pointer-events: none;
}
.is-root-container::after,
.wp-site-blocks::after,
.pixel-corners::after {
  margin: -1 * $pixel_width;
}
